.sec-certificate {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  // height: 100vh;
  background-color: #181818;
  overflow: hidden;
}

.my-certificate {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4 {
    line-height: 1.5;
    font-size: 52px;
    color: #fff;
  }
  span {
    position: relative;
    font-size: 32px;
    background-color: #fff;
    color: #dc143c;

    &::before {
      content: "";
      width: 50px;
      height: 3px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: -30%;
    }
    &::after {
      content: "";
      width: 50px;
      height: 3px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      right: -30%;
    }
  }
}

.introdule-certi {
  color: #fff;
  width: 100%;
  max-width: 1300px;
  padding: 0 30px;
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.5;
}
