:root {
  --ti-cursor-color: #dc143c;
  --ti-cursor-font-size: 52px;
  --ti-cursor-transform: translateX(-0.125em);
}


* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

section {
  padding: 50px 0;
}

@media (max-width: 900px) {
  :root {
    --ti-cursor-font-size: 28px;
  }
  .layoutSec {
    padding: 100px 0;
  }
}

@media (max-width: 500px) {
    :root {
      --ti-cursor-font-size: 18px;
      --ti-cursor-transform: translateX(0);
    }

}